body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  box-shadow: 5px -3px 5px 5px black;
}
.container {
  padding: 9rem 1rem;
}
.table-container {
  padding: 3rem 1rem;
}

.header-title {
  font-size: 60px;
  font-weight: bold;
}

.title {
  left: -45%;
  position: relative;
}

td {
  font-size: 13px;
  padding: 1rem;
}
